* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url('C:/Users/91812/Desktop/HTMLDEMO/image/free.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
}

.container h1 {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

#searchBar {
    width: 50%;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    border: .1rem solid  black;
}

ul.control {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

ul.control li.buttons {
    padding: 1rem 2rem;
    background: #444;
    color: #fff;
    margin: 0 1rem;
    cursor: pointer;
    border-radius: .5rem;
}

ul.control li.buttons:hover {
    background: #27ae60;
}

.pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.img-container {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.img-container:hover {
    outline: .2rem solid #222;
    transform: scale(0.8) rotate(-15deg);a
    outline-offset: 0;
}

.img-container img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.img-container:hover img {
    transform: scale(.9);
}

.img-container h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.img-container:hover h3 {
    color: #27ae60;
}

.img-container .price {
    font-size: 2rem;
    color: #444;
}

.selections-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 50%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
}

.preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}

.preview.active {
    display: inline-block;
}

.preview img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.preview .fa-times:hover {
    transform: rotate(90deg);
}

.preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.preview .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.preview .stars i {
    color: #27ae60;
}

.preview .stars span {
    color: #999;
}

.preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}

.preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.preview .buttons a.buy {
    background: #444;
    color: #fff;
}

.preview .buttons a.buy:hover {
    background: #111;
}

.preview .buttons a.pending:hover {
    background: #444;
    color: #fff;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .preview img {
        height: 25rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}